<template name="userPage">

    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#notComplete"  data-toggle="tab">Доступные тесты</a></li>
        <li><a href="#complete" data-toggle="tab">Пройденные тесты</a></li>

    </ul>
    <div id="my-tab-content" class="tab-content">

        <div class="tab-pane active" id="notComplete">
            <div class="post">
                <div class="post-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Дисциплина</th>
                            <th>Название теста</th>
                            <th>ссылка на тест</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each results}}
                            <tr>
                                <td>{{disciplineName idTest}}</td>
                                <td>{{ testName idTest }}</td>
                                <td><a href="{{pathFor 'testing' _id=this._id}}">ссылка</a></td>
                            </tr>
                        {{/each}}


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="complete">
            <div class="post">
                <div class="post-content">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Дата прохождения</th>
                            <th>Дисциплина</th>
                            <th>Название теста</th>
                            <th>Оценка (%)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each completeResults}}
                            <tr>
                                <td>{{testDate _id}}</td>
                                <td>{{disciplineName idTest}}</td>
                                <td>{{ testName idTest}}</td>
                                <td>{{mark _id}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>



</template>