<template name="errors">
    <div class="errors row-fluid">
        {{#each errors}}
            {{> error}}
        {{/each}}
    </div>
</template>
<template name="error">
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
    </div>
</template>