<template name="checkResult">
    <h4>Проверка теста</h4>
    <h5>Пользователь: {{userData.name}}  Тест: {{userData.test}}</h5>
            {{#each tasks}}
                {{> testingItem}}
                <h5>Что ответил пользователь:</h5>
                {{answer _id}}<br>
                <h5>Поставьте оценку:
                <input type="number" min="0" max="{{cost}}" id="{{_id}}" value="1" style="width: 40px"></h5>
            {{/each}}
            <br>
            <button class="check">Завершить проверку</button>
</template>