<template name="changeUserData">
    <div class="post">
        <div class="post-content">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>№ ст. битела</th>
                    <th>username</th>
                    <th>ФИО студента</th>
                    <th>группа</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="body">
                {{#each users}}
                    {{> changeUserDataRow}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>