<template name="newUsers">
    <div class="post">
        <div class="post-content">
            <table class="table">
                <thead>
                <tr>
                    <th>№ ст. битела</th>
                    <th>username</th>
                    <th>ФИО студента</th>
                    <th>группа</th>
                </tr>
                </thead>
                <tbody id="body">
                  <tr id="newUsers_tr_1">
                      <td><input type='text' class='form-control' id='newUsers_st_n_1' maxlength="20" style='width: 80px'></td>
                      <td><input type='text' class='form-control' id='newUsers_usN_1'  maxlength="20" style='width: 100px'></td>
                      <td><input type='text' class='form-control' id='newUsers_fio_1' maxlength="140"></td>
                      <td><p>
                          <select id='newUsers_group_1' style='width: 120px'>
                              {{> groupsList}}
                          </select>
                      </p></td>
                  </tr>
                </tbody>
            </table>
            <i class="fa fa-plus fa-2x newUsers_inc"></i>
            <i class="fa fa-minus fa-2x newUsers_dec"></i>
            <br><br>
            <button class="newUsers_add">Добавить пользователей в БД</button>
        </div>
    </div>
</template>