<template name = 'usersPasswords'>
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li><a class="active" href="#new" data-toggle="tab">Добавление новых пользователей</a></li>
        <li><a href="#changedata" data-toggle="tab">Редактирование данных пользователей</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="new">
            {{> newUsers}}
        </div>
        <div class="tab-pane" id="changedata">
            {{> changeUserData}}
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>


</template>