<template name="marks">
    <div class="post">
        <div class="post-content">
            <h4>Просмотр оценок студентов</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>username</th>
                    <th>ФИО студента</th>
                    <th>группа</th>
                    <th></th>

                </tr>
                </thead>
                <tbody id="body">
                {{#each users}}
                    <tr>
                        <td>{{username}}</td>
                        <td>{{profile.name}}</td>
                        <td>{{profile.group.name}}</td>
                        <td><a href="{{pathFor 'userMarks' id=_id}}">Оценки</a></td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</template>