<template name="userMarks">
    <div class="post">
        <div class="post-content">
            <h4>Оценки студента {{user.profile.name}}</h4>
            <table class="table">
                <thead>
                <tr>
                    <th>Дата прохождения</th>
                    <th>Дисциплина</th>
                    <th>Название теста</th>
                    <th>Оценка (%)</th>
                </tr>
                </thead>
                <tbody>
                {{#each results}}
                    <tr>
                        <td>{{testDate _id}}</td>
                        <td>{{disciplineName idTest}}</td>
                        <td>{{ testName idTest }}</td>
                        <td>{{mark _id}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>