<template name = "error2">
    <style type="text/css">
        button{
            margin-right: 7px;
        }

    </style>

    <button class="go" id="bb">GO</button> <button class="stop">STOP</button><button class="clear">CLEAR</button>
    <button class="random">RANDOM</button><br>
    <div class="sliders" style="width: 300px; margin-top: 7px;" id="sli"></div><br>
    <canvas id="canvas" class="galaxy">Твой браузер даже canvas не отображает, о тестах тогда можно и не думать.</canvas>
</template>