<template name = "layout">
<div class="container">
    <header class="navbar container">
        <div class="navbar-inner">
            <a class="brand" href="{{pathFor 'userPage'}}">Students Testing System</a>


            {{#if isInRole 'admin'}}
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Admin-меню <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{pathFor 'newTestItem'}}">Добавление заданий</a></li>
                            <li><a href="{{pathFor 'taskList'}}">Просмотр и удаление заданий</a></li>
                            <li><a href="{{pathFor 'usersPasswords'}}">Работа с пользователями</a></li>
                            <li><a href="{{pathFor 'configPanel'}}">Группы, предметы и темы</a></li>
                            <li><a href="{{pathFor 'adminTests'}}">Формирование тестов</a></li>
                            <li><a href="{{pathFor 'giveTests'}}">Выдача тестов</a></li>
                            <li><a href="{{pathFor 'checkList'}}">Проверка тестов</a></li>
                            <li><a href="{{pathFor 'marks'}}">Просмотр оценок</a></li>
                            <!--<li class="divider"></li>
                            <li><a href="#">Дополнительно</a></li>-->
                        </ul>
                    </li>
                </ul>
            {{/if}}
            {{>loginButtons}}
        </div>
        {{> errors}}
        {{> notifications}}
    </header>
    <div class="plug"> </div>

    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
</div>
</template>