<Template name="newAlterItem">

    <div class="post">
        <div class="post-content">
            <h4>Добавление задания с альтернативным выбором</h4>
            {{> disciplineNTemeBlock}}
            <h5>Текст задания</h5>
            <textarea id="alter_head"></textarea>

            <h5>Загрузить изображение</h5>
            <input type="file" id="file">
            <input type="submit" value="Загрузить">
            {{>FS.UploadProgressBar bootstrap=true}}

            <h5>Варианты ответов</h5>
            <input type="text" class="form-control" id="alter_t_1" maxlength="200">
            <input type="radio" name='radio' value="true" id="alter_c_1" checked="true"/>
            <br>
            <input type="text" class="form-control" id="alter_t_2" maxlength="200">
            <input type="radio" name='radio' value="false" id="alter_c_2"/>



            <h5>Стоимость задания</h5>
            <input type="number" min="1" max="20" value="1" id="alter_cost" class="numberList"><br>
            <button class="alter_item_adding">Добавить в БД</button>

        </div>
    </div>
</Template>