<Template name="newFreeItem">
    <div class="post">
        <div class="post-content">
            <h4>Добавление задания со свободным изложением</h4>
            {{> disciplineNTemeBlock}}
            <h5>Текст задания</h5>
            <textarea id="free_head"></textarea>

            <h5>Загрузить изображение</h5>
            <input type="file" id="file">
            <input type="submit" value="Загрузить">
            {{>FS.UploadProgressBar bootstrap=true}}

            <h5>Стоимость задания</h5>
            <input type="number" min="1" max="20" value="1" id="free_cost" class="numberList"><br>
            <button class="free_item_adding">Добавить в БД</button>
        </div>
    </div>
</Template>