<Template name="newAddItem">
    <div class="post">
        <div class="post-content">
            <h4>Добавление задания-дополнения</h4>
            {{> disciplineNTemeBlock}}
            <h5>Текст задания</h5>
            <textarea id="add_head"></textarea>

            <h5>Загрузить изображение</h5>
            <input type="file" id="file">
            <input type="submit" value="Загрузить">
            {{>FS.UploadProgressBar bootstrap=true}}

            <h5>Текст для дополения (между текстовыми полями ниже, при ответе на задание,
                будут созданы поля для дополнения)</h5>
            <div id="add_list">
                <div id="add1">
                    <textarea id="add_tx_1" style="height: 20px;"></textarea>
                </div>
                <div id="add2">
                    <textarea id="add_tx_2" style="height: 20px;"></textarea>
                </div>
            </div>
            <div align="left">
                <i class="fa fa-plus fa-2x add_inc"></i>
                <i class="fa fa-minus fa-2x add_dec"></i>
            </div>

            <h5>Стоимость задания</h5>
            <input type="number" min="1" max="20" value="1" id="add_cost" class="numberList"><br>
            <button class="add_item_adding">Добавить в БД</button>
        </div>
    </div>
</Template>