<Template name="newMultiItem">
    <div class="post">
        <div class="post-content">
            <h4>Добавление задания с множественным выбором</h4>
            {{> disciplineNTemeBlock}}
            <h5>Текст задания</h5>
            <textarea id="multy_head"></textarea>

            <h5>Загрузить изображение</h5>
            <input type="file" id="file">
            <input type="submit" class="file" value="Загрузить">
                    {{>FS.UploadProgressBar bootstrap=true}}



            <h5>Варианты ответов</h5>

            <div id="multi_variants">
                <div id="multy1">
                        <input type='text' class='form-control' id='multy_t_1' maxlength="200">
                        <input type='checkbox' id='multy_c_1'>
                </div>
                <div id="multy2">
                    <input type='text' class='form-control' id='multy_t_2' maxlength="200">
                    <input type='checkbox' id='multy_c_2'>
                </div>
                <div id="multy3">
                    <input type='text' class='form-control' id='multy_t_3' maxlength="200">
                    <input type='checkbox' id='multy_c_3'>
                </div>
                <div id="multy4">
                    <input type='text' class='form-control' id='multy_t_4' maxlength="200">
                    <input type='checkbox' id='multy_c_4'>
                </div>
            </div>
            <i class="fa fa-plus fa-2x multy_inc"></i>
            <i class="fa fa-minus fa-2x multy_dec"></i>

            <h5>Стоимость задания</h5>

                <input type="number" min="1" max="20" value="1" id="multy_cost" class="numberList"><br>
                <button class="multy_item_adding"> Добавить в БД</button>

        </div>
    </div>

</Template>