<template name="accordItem">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}}</h6>
    <h3>{{head}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    <table>
        <td>
            <ol class="first">
                {{#each first}}
                    <li> <h5> {{this}} <input type="number" min="1" max="{{second_length}}" value="1" class="numberList"> </h5></li>
                {{/each}}
            </ol>

        </td>
        <td>
            <ol class="second">
                {{#each second}}
                    <li><h5> {{this}} </h5></li>
                {{/each}}
            </ol>

        </td>
    </table>

    <!--<h3>Стоимость задания: {{cost}} </h3>-->
    <!--<br><button class="confirm">Подтвердить</button>-->
</template>