<template name="alterItem">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}}</h6>
    <h3>{{head}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    <div class="radio_zone"></div>

   <!-- <h3>Стоимость задания: {{cost}} </h3> -->
    <!--<br><button class="confirm">Подтвердить</button>-->
</template>