<template name="multiItem">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}}</h6>
    <h3>{{head}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    {{#each data}}
        <h5><input type="checkbox" class="check_multy_box"/> {{this}}</h5>
    {{/each}}
    <!--<h3>Стоимость задания: {{cost}} </h3>-->
    <!--<br><button class="confirm">Подтвердить</button>-->
</template>