<template name="createTests">

    <div class="post">
        <div class="post-content">
            <h5>Название теста</h5>
            <input type='text'  maxlength="200" class='form-control name_new_test'>
            <h5> Выберите предмет</h5>
            <select class="discip" style="width: 120px">
              {{#each disciplines}}
                  <option value="{{_id}}">{{name}}</option>
              {{/each}}
            </select>
            <h5>Выберите темы</h5>
            <div class="temes">
            </div>
            <select class="tem">
            </select> <i value="ololo" class="fa fa-check fa-2x check_teme"></i>
            <br>
            <h5>Количество вопросов в тесте</h5>
            <input type="number" min="1" max="90" value="1" class="items_counter numberList">
            <br>
            <button class="add_new_test"> Добавить новый тест в БД</button>
        </div>
    </div>
</template>