<template name="giveTests">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#toGroup"  data-toggle="tab">Выдать тест группе</a></li>
        <li><a href="#toUser" data-toggle="tab">Выдать тест пользователям</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="toGroup">
            {{>toGroup}}
        </div>
        <div class="tab-pane" id="toUser">
            {{>toUser}}
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>
</template>