<template name="adminTests">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#create"  data-toggle="tab">Создание тестов</a></li>
        <li><a href="#read" data-toggle="tab">Просмотр тестов</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="create">
          {{> createTests}}
        </div>
        <div class="tab-pane" id="read">
            {{> viewTests}}
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>
</template>