<template name="toGroup">
    <div class="post">
        <div class="post-content">
            <h5>Выберите тест</h5>
            <select class="test_to_group">
                {{#each tests}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>

            <h5>Выберите группу</h5>
            <select class="goups_users">
                {{#each groups}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <br>
            <button class="give_test_to_proup">Выдать тест группе</button>
        </div>
    </div>
</template>