<template name="toUser">
    <div class="post">
        <div class="post-content">
            <h5>Выберите тест</h5>
            <select class="test_to_user">
                {{#each tests}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <table class="table">
            <thead>
            <tr>
                <th>username</th>
                <th>ФИО студента</th>
                <th>группа</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="body">
            {{#each users}}
                <tr>
                    <td>{{username}}</td>
                    <td>{{profile.name}}</td>
                    <td>{{profile.group.name}}</td>
                    <td><input type="checkbox" class="check_user" value="{{_id}}"></td>
                    <td></td>
                </tr>
            {{/each}}
            </tbody>
            </table>
            <button class="give_test_to_users">Выдать тест выбранным пользователям</button>
        </div>
    </div>
</template>