<template name="viewTest">
    <tr>
        <td>{{name}}</td>
        <td>{{discipline}}</td>
        <td>
        {{#each temes}}
          <tr>{{this}}</tr>
        {{/each}}
        </td>
        <td>{{count}}</td>
        <td><i class="fa fa-trash-o fa-2x delete" style="color:crimson"></i></td>
    </tr>
</template>