<template name="viewTests">
    <div class="post">
        <div class="post-content">
            <table class="table">
                <thead>
                <tr>
                    <th>наименование теста</th>
                    <th>Дисциплина</th>
                    <th>Темы входяще в тест</th>
                    <th>Количество вопросов</th>
                </tr>
                </thead>
                <tbody id="body">
                {{#each tests}}
                  {{> viewTest}}
                {{/each}}
                </tbody>
            </table>


        </div>
    </div>
</template>