<template name = "newTestItem">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#multi"  data-toggle="tab">Множественный выбор</a></li>
        <li><a href="#alter" data-toggle="tab">Альтернативный выбор</a></li>
        <li><a href="#accord" data-toggle="tab">Установление соответсвия</a></li>
        <li><a href="#follow" data-toggle="tab">Установление последовательности</a></li>
        <li><a href="#free" data-toggle="tab">Свободное изложение</a></li>
        <li><a href="#add" data-toggle="tab">Дополнение</a></li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="multi">
            {{> newMultiItem}}
        </div>
        <div class="tab-pane" id="alter">

            {{> newAlterItem}}

        </div>
        <div class="tab-pane" id="accord">
            {{>newAccordItem}}
        </div>
        <div class="tab-pane" id="follow">
            {{>newFollowItem}}
        </div>
        <div class="tab-pane" id="free">
            {{>newFreeItem}}

        </div>
        <div class="tab-pane" id="add">
            {{>newAddItem}}
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabs').tab();
        });
    </script>
</template>