<template name="configPanel">

        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#disciplines"  data-toggle="tab">Предметы</a></li>
            <li><a href="#groups" data-toggle="tab">Группы</a></li>
        </ul>

        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane active" id="disciplines">
                <div class="post">
                    <div class="post-content">
                        <table>
                            <thead>
                            <tr>
                              <th><label>Название дисциплины</label></th>
                              <th><div style="width: 30px"></div></th>
                              <th><label>Название темы</label></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each disciplines}}
                              {{>disciplineRow}}
                              <br>
                            {{/each}}
                            </tbody>
                            <label>Добавить дисциплину</label>
                            <input type='text' class='form-control' maxlength="40" id='new_discipline'> <i class="fa fa-check fa-2x check_new_discipline"></i>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="groups">
                <div class="post">
                    <div class="post-content">
                      {{#each groups}}
                        <tr>{{> groupRow}}</tr>
                      {{/each}}
                        <br>
                        <label>Добавить группу</label>
                        <input type='text' class='form-control' maxlength="40" id='new_group'> <i class="fa fa-check fa-2x check_new_group"></i>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs').tab();
            });
        </script>
</template>