<template name="disciplineRow">
    <tr>
        <td style="vertical-align: top">{{name}} <i class="fa fa-trash-o fa-lg delete_discipline" style="color:crimson; padding-left: 5px"></i></td>
        <td></td>
        <td>
            {{#each temes}}
               <tr>
                <td></td>
                <td></td>
                <td>{{this}}  <i class="fa fa-trash-o fa-lg delete_teme" style="color:crimson; padding-left: 5px"></i></td>
               </tr>
            {{/each}}
            <lable>Добавить тему</lable><br>
            <input type='text' maxlength="200" class='form-control new_teme'> <i class="fa fa-check fa-2x check_new_teme"></i>
        </td>
    </tr>

</template>