<template name="imgUpload">
    <input type="file" id="file">
    <input type="submit" value="Upload">

    {{>FS.UploadProgressBar}}
    <!--{{#each images}}
        <a href ="{{this.url}}" target="_blank"><img src="{{this.url}}"></a>
    {{/each}}-->

</template>