<template name="testingItem">
    <div class="post">
        <div class="post-content">
            {{#if q1}}{{>multiItem}}{{/if}}
            {{#if q2}}{{>alterItem}}{{/if}}
            {{#if q3}}{{>accordItem}}{{/if}}
            {{#if q4}}{{>followItem}}{{/if}}
            {{#if q5}}{{>freeItem}}{{/if}}
            {{#if q6}}{{>addItem}}{{/if}}


        </div>
    </div>
</template>