<template name="taskItem1">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}} <i class="fa fa-trash-o fa-2x delete" style="color:crimson"></i></h6>
    <h3>{{head}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    {{#each data}}
    <h5><input type="checkbox"/> {{this}}</h5>
  {{/each}}
  <h3>Правильные ответы:  {{answers}}</h3>
  <h3>Стоимость задания: {{cost}} </h3>

</template>