<template name="taskItem6">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}} <i class="fa fa-trash-o fa-2x delete" style="color:crimson"></i></h6>
    <h3>{{{head}}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    <div>
        <h5>
        {{#each data}}
            {{this}}  <input type="text" class="text-case">
        {{/each}}
        </h5>
    </div>
    <!--<h3>Правильные ответы:  {{answers}}</h3>-->
    <h3>Стоимость задания: {{cost}} </h3>
</template>