<template name="taskItem3">
    <h6>Предмет: {{discipline.name}} Тема: {{teme}} <i class="fa fa-trash-o fa-2x delete" style="color:crimson"></i></h6>
    <h3>{{head}}</h3>
    {{#if url}}
        <img src="{{url}}">
    {{/if}}
    <table>
        <td>
            <ol>
                {{#each first}}
                   <li> <h5> {{this}} <input type="number" min="1" max="{{second_length}}" value="1" class="numberList"> </h5></li>
                {{/each}}
            </ol>

        </td>
        <td>
            <ol>
                {{#each second}}
                    <li><h5> {{this}} </h5></li>
                {{/each}}
            </ol>

        </td>
    </table>


    <h3>Правильные ответы:  {{answers}}</h3>
    <h3>Стоимость задания: {{cost}} </h3>
</template>

<!-- Можно запилить соотвествие путем вывода двух пронумерованных списков, а потом просто выставить у первого скиска
     соответсвия путем выставления номеров элементов в специальные поля напротив первого списка-->
